<!DOCTYPE html>
<html>

    <head>
        

            <title>Ankush Fitness - Simple, Clean and Responsive Website</title>

            <meta charset="utf-8">
            <meta name="description" content="Simple, clean, responsive website built with html5, CSS3, Js, jQuery and Bootstrap">
            <meta name="keywords" content="web, design, html, css, html5, css3, javascript, jQuery, bootstrap, development">
            <meta name="viewport" content="width=device-width, initial-scale=1">


            <!-- Google Fonts -->
            <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

            <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;0,900;1,400&display=swap" rel="stylesheet">
            
            <!-- favicon -->
            <link rel="icon" type="image/png" href="images/favicon.png">

            <!-- css -->
            <link rel="stylesheet" type="text/css" href="css/all.css">
            <!-- font-awesome -->
            <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
            <link rel="stylesheet" type="text/css" href="css/style.css"  >
            
            <!-- BX slider -->
            <link rel="stylesheet" type="text/css" href="css/jquery.bxslider.css">

            <!-- animate css -->
            <link rel="stylesheet" type="text/css" href="css/animate.css">
            <!-- responsive css -->
            <link rel="stylesheet" type="text/css" href="css/responsive.css">

            
           
    </head>
    <body>

        <!-- header -->
        <header class="header" id="HOME">
            <!-- Navigation Bar -->
            <nav class="navbar navbar-default navbar-fixed-top">
              
                
                <div class="container">
                  
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#kush-fitness-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>
                      <a class="navbar-brand" href="#">
                          <!-- small size logo -->
                          <img src="images/small-logo.png" alt="logo">

                        </a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="kush-fitness-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                            <li><a href="#HOME" class="nav-item">HOME</a></li>
                            <li><a href="#ABOUT" class="nav-item">ABOUT</a></li>
                            <li><a href="#EXERCISES" class="nav-item">SAMPLE EXERCISES</a></li>
                            <li><a href="#NUTRITION" class="nav-item">NUTRITION</a></li>
                            <li><a href="#ENROLL" class="nav-item">ENROLL NOW</a></li>
                            <li><a href="#CONTACT" class="nav-item">CONTACT</a></li>
                    </ul>
                    
                    
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>



            <div class="header-overlay" >

                <div class="container" >
                    <div class="row">
                        <div class="col-md-12">
                            <!-- logo -->
                            <div class="logo text-center">
                                <img src="images/logo.png" alt="logo">
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-md-8">
                            <div class="header-text">
                                <!-- title and description -->
                                <h1>A clean and modern looking responsive website</h1>
                                <p>Built with great love</p>
                            </div>
                            <div class="header-btns">
                                <!-- header buttons -->
                                <a class="btn btn-download wow fadeInLeft" href="#CONTACT">Contact</a>
                                <a class="btn btn-tour wow fadeInRight" href="#">Take a Tour
                                    <i class="fa fa-angle-down"></i>   
                                </a>
                                
                            </div>
                        </div>
                        
                        

                    </div>
                </div>

            </div>

        </header>
        <!-- about us -->
        <section id="ABOUT">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-mid-offset-1" >
                        <!-- About us title and description -->
                        <div class="section-title">
                            <h2>About Us</h2>
                            <p>Ankush, born on 21 Aug, 1999, in a Punjabi family, is a Punjabi Folk Dance Lover and a Fitness Enthusiast. He is a crazy travel lover and workaholic, food addict and health freak. Ankush, who is also a conscientious and hard working team player, is intending to work in a challenging environment to contribute meaningfuly towards the organizational and personal growth. </p>

                        </div>
                        <div class="choose-us-wrapper">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-6">
                                        <!-- about me -->
                                        <div class="about-me wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".5s">
                                            <img class="img-responsive" src="./images/about.png" alt="About-me">
                                        </div>
                                    </div>
                                    <div class="col-md-6 wow fadeInRight" data-wow-duration="1s" data-wow-delay=".5s">
                                        <!-- Why choose us -->
                                        <div class="choose-us-title">
                                            <h2>Why Choose Us?</h2>
                                            <p>Achieving fitness goals is not easy. Knowing how to exercise, finding time to exercise, and keeping motivated are common challenges. Getting yourself to the gym may feel much more overwhelming than actually working towards your goal. To lose weight or increase fitness levels, it’s time to try something different. Kush Fitness can help you achieve the results you want!</p>

                                        </div>
                                        <!-- choose-us-description -->
                                        <div class="choose-us-des">
                                            <!-- choose-us-item1 -->
                                            <div class="choose-us-item wow fadeInUp" data-wow-duration=".5s" data-wow-delay="1s">
                                                <!-- choose-us-item -->
                                                <div> <i class="fas fa-running"></i></div>
                                                <!-- choose us title item and description -->
                                                <h3>We're perfect for beginners</h3>
                                                <p> Interested in getting fit, but don't know where to start? We'll introduce you to fun, effective routines and valuable fitness knowledge. When you're ready, we can introduce more advanced routines.</p>

                                            </div>
                                            <!-- choose-us-item2 -->
                                            <div class="choose-us-item wow fadeInUp" data-wow-duration=".5s" data-wow-delay="1s">
                                                <!-- choose-us-item -->
                                                <div><i class="fas fa-dumbbell"></i></div>
                                                <!-- choose us title item and description -->
                                                <h3>We motivate</h3>
                                                <p>Our personal training coaches help you stay motivated as we work to establish a consistent workout schedule. We design a fitness program that's structured to hold you accountable and create a lifestyle that encourages proper health and a positive well-being.</p>

                                            </div>
                                            <!-- choose-us-item3 -->
                                            <div class="choose-us-item wow fadeInUp" data-wow-duration=".5s" data-wow-delay="1s">
                                                <!-- choose-us-item -->
                                                <div> <i class="fas fa-heartbeat"></i></div>
                                                <!-- choose us title item and description -->
                                                <h3>We deliver results</h3>
                                                <p>Stop wasting your time with workouts that aren't giving you results. Our team will ensure that you achieve results. Your fitness program is created for you to fit your abilities and help you reach your goals. We keep records of your workouts and your progress and re-assess fitness levels every 15 weeks.</p>

                                            </div> 

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Testimonials -->
        <section class="testimonial" >

            <div class="testimonial-overlay">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 wow bounceInDown">
                            <div class="carousel slide" data-ride="carousel">

                                <!-- indicators -->
                                <ol id="carousel-testimonial" class="carousel-indicators">
                                    <li data-target="#carousel-testimonial" data-slide-to="0" class="active"></li>
                                    <li data-target="#carousel-testimonial" data-slide-to="1"></li>
                                    
                                </ol>
                                  <!-- wrapper -->

                                  <div class="carousel-inner">
                                      <!-- item01 -->
                                        <div class="item active test-center">
                                            <img src="images/client-01.jpeg" alt="testimonial" class="center-block">
                                            <div class="testimonial-caption">
                                                <h2>Ankush</h2>
                                                <h4> <span> Founder, </span>Ankush Fitness</h4>
                                                <p>No matter what your reasons, concerns or excuses, we can help you get started working out and for best Bhangra training.</p>
                                            </div>
                                        </div>

                                        <div class="item test-center">
                                            <img src="images/client-02.jpeg" alt="testimonial" class="center-block">
                                            <div class="testimonial-caption">
                                                <h2>Ankush</h2>
                                                <h4> <span> Bhangra Captain, </span>UIET Bhangra Crew</h4>
                                                <p>No matter what your reasons, concerns or excuses, we can help you get started working out and for best Bhangra training.</p>
                                            </div>
                                        </div>

                                        
                                  </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>

        <!-- Features -->
        <section class="features" id="EXERCISES">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="section-title wow fadeIn" data-wow-duration="1s">
                            <h2>Sample Exercises</h2>
                            
                             
                        </div>
                        <div class="just-heading">
                            <h3>Also available</h3>
                        </div>
                        <div class="motivation-plan wow fadeIn" data-wow-duration="1s">
                            <ul> 
                                <li>Customized Nutrition Plan (Veg/ Non-Veg)</li>  
                                <li>Customized Workout Plan (with Cardio and Mobility)</li>   
                                <li>Customized Supplement Plan</li>  
                                <li>Weekly Check-ins to monitor your start/middle/end progress</li>  
                                <li>Constant motivation, guidance and supports</li>  
                            </ul> 
                        </div> 
                    </div>
                </div>
            </div>
            <div class="features-inner-wrapper">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 wow fadeInLeft" data-wow-duration="1s">
                            <!-- Left feature item01 -->
                            <div class="left-feature-item">
                                <!-- icon -->
                                <!-- <div class="left-feature-item-icon">
                                    <i class="fas fa-fire-alt"></i>
                                </div> -->
                                <!-- feature title item and decription -->
                                <h3>Chest</h3>
                                <ol>
                                    <li>Barbell bench press (10-12 x 4)</li> 
                                    <li>Decline Barbell bench press (10-12 x 3)</li>
                                    <li>Barbell bench press (10-12 x 4)</li>    
                                    <li>Decline Barbell bench press (10-12 x 3)</li>
                                    <li>Cable cross over (10-12 x 3)</li>
                                </ol>
                                   
                                
                            </div>
                             <!-- Left feature item02 -->
                             <div class="left-feature-item">
                                <!-- icon -->
                                <!-- <div class="left-feature-item-icon">
                                    <i class="fas fa-fire-alt"></i>
                                </div> -->
                                <!-- feature title item and decription -->
                                <h3>Lats, Middle back and lower back</h3>
                                <ol>
                                    <li>Deadlift (10-12 x 4)</li> 
                                    <li>Bent over Barbell (10-12 x 3)</li>
                                    <li>Seated Rowing (10-12 x 4)</li>    
                                    <li>Lat pull down(Close Grip) (10-12 x 3)</li>
                                    <li>Lat pull down(Wide Grip) (10-12 x 3)</li>
                                </ol>
                                
                            </div>
                            <!-- Left feature item03 -->
                            <div class="left-feature-item">
                                <!-- icon -->
                                <!-- <div class="left-feature-item-icon">
                                    <i class="fas fa-fire-alt"></i>
                                </div> -->
                                <!-- feature title item and decription -->
                                <h3>Shoulders</h3>
                                <ol>
                                    <li>Arnold Dumbell press (10 x 4)</li> 
                                    <li>Barbell Shoulder Press (10 x 3)</li>
                                    <li>Front Cable Raise (10-12 x 4)</li>    
                                    <li>Side Lateral Raise (10-12 x 3)</li>
                                    <li>Shrugs (12 x 4)</li>
                                </ol>
                                
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="feature-body">
                                <img class="wow bounceIn img-responsive" data-wow-duration="1s" src="images/features.png" alt="feature body">
                            </div>
                        </div>
                        <div class="col-md-4 wow fadeInRight" data-wow-duration="1s">
                            <!-- right feature item 01 -->
                            <div class="right-feature-item">
                                <!-- icon -->
                                <!-- <div class="right-feature-item-icon">
                                    <i class="fas fa-fire-alt"></i>
                                </div> -->
                                <!-- Title and description -->
                                <h3>Biceps</h3>
                                <ol>
                                    <li>Standing Dumbbell Curl (10 x 4)</li> 
                                    <li>Hammer Curl (10 x 3)</li>
                                    <li>Incline Dumbbell Curl(10-12 x 4)</li>    
                                    <li>Decline Dumbbell Curl(10-12 x 3)</li>
                                    <li>Concentration curl (12 x 4)</li>
                                </ol>
                                
                            </div>
                            <!-- right feature item 02 -->
                            <div class="right-feature-item">
                                <!-- icon -->
                                <!-- <div class="right-feature-item-icon">
                                    <i class="fas fa-fire-alt"></i>
                                </div> -->
                                <!-- Title and description -->
                                <h3>Triceps</h3>
                                <ol>
                                    <li>Kickbacks Dumbbell (10 x 3)</li> 
                                    <li>Dips (10 x 4)</li>
                                    <li>Overhead Triceps Extension (10-12 x 4)</li>    
                                    <li>Rope Pushdown (8-10 x 3)</li>
                                    <li>Bar Pushdown (12 x 4)</li>
                                </ol>
                        
                            </div>
                            <!-- right feature item 03 -->
                            <div class="right-feature-item">
                                <!-- icon -->
                                <!-- <div class="right-feature-item-icon">
                                    <i class="fas fa-fire-alt"></i>
                                </div> -->
                                <!-- Title and description -->
                                <h3>Legs</h3>
                                <ol>
                                    <li>Barbell Squat (10 x 4)</li> 
                                    <li>Leg Press (10-12 x 3)</li>
                                    <li>Leg Extension (10-12 x 4)</li>    
                                    <li>Leg Curls (10-12 x 3)</li>
                                    <li>Barbell stiff legs (12 x 4)</li>
                                    <li>Calves (12 x 3)</li>
                                </ol>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="train-with-me" >
            <div class="container">
                <div class="row wow fadeInLeftBig" data-wow-duration="1s">
                    <div class="col-md-9">
                        <p>Becoming strong doesn’t start in gym . It starts in your head.
                         You can drop a mail to know more about my one on one online training programs.
                           </p>
                    </div>
                    <div class="col-md-3">
                        <a class="btn btn-primary btn-train" href="#">Train with Me</a>
                    </div>
                </div>
            </div>
        </section>
        <!-- nutrition -->
        <section class="nutrition" id="NUTRITION">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="section-title">
                            <h2>NUTRITION</h2>
                            <p>Try this Easy High Protein/Low Carb Recipe. Great for building muscle & fat loss. </p>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="screen-slider wow bounceInRight" data-wow-duration="1s">
                <div class="container">
                    <div class="row">
                        <div class="bxslider">
                            <div >
                                <img src="images/meal1.jpg" alt="meal1">
                            </div>
                            <div >
                                <img src="images/meal2.jpg" alt="meal1">
                            </div>
                            <div >
                                <img src="images/meal3.jpg" alt="meal1">
                            </div>
                            <div >
                                <img src="images/meal4.jpg" alt="meal1">
                            </div>
                        </div>
                        
                    </div>
                    
                </div>
            </div>
        </section>
        <!-- counters -->
        <!-- <section class="counter">
            <div class="counter-overlay wow fadeIn" data-wow-duration="1s">
                <div class="container">
                    <div class="row text-center">
                        <div class="col-md-3">
                            <div class="counter-item">
                                <div> <i class="fas fa-cloud-download-alt"></i> </div>
                                <h2><span class="counter-num">1588</span><span>+</span></h2>
                                <p>Downloads</p>

                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="counter-item">
                                <div> <i class="fas fa-heart"></i> </div>
                                <h2><span class="counter-num">1999</span><span>+</span></h2>
                                <p>Likes</p>

                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="counter-item">
                                <div> <i class="fa fa-gift"></i> </div>
                                <h2><span class="counter-num">3575</span><span>+</span></h2>
                                <p>Awards</p>

                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="counter-item">
                                <div> <i class="fa fa-check"></i> </div>
                                <h2><span class="counter-num">1066</span><span>+</span></h2>
                                <p>Recomended</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->

        <section class="download-now" id="ENROLL">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="section-title">
                            <h2>Enroll Now</h2>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 wow fadeInUp" data-wow-duration="1s">
                        <img class="img-responsive" src="images/download.png" alt="download">
                    </div>
                </div>
            </div>
        </section>
        
        <!-- available on -->
        <section class="available-on" >
            <div class="container wow bounceInRight" data-wow-duration="1s">
                <div class="row">
                    <div class="col-md-6">
                        <div class="available-title">
                            <h2>Find Me On</h2>
                            <p>You can find me on these social media apps and DM for any help, Like : Customized nutrition plan according to your body goal, Online Personal Training, Workout plan , etc.</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <a href="https://www.instagram.com/_ankush21/" >
                                <div class="col-md-4 no-padding">
                                    <div class="available-on-item">
                                        <i class="fab fa-instagram"></i>
                                        <div class="available-on-inner">
                                            <h2>Instagram</h2>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <a href="https://twitter.com/imAnkush2123" >
                                <div class="col-md-4 no-padding">
                                    <div class="available-on-item">
                                        <i class="fab fa-twitter"></i>
                                        <div class="available-on-inner">
                                            <h2>Twitter</h2>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <a href="https://www.linkedin.com/in/ankush-ankush-081a8b18b/" >
                                <div class="col-md-4 no-padding">
                                    <div class="available-on-item">
                                        <i class="fab fa-linkedin-in"></i>
                                        <div class="available-on-inner">
                                            <h2>Linked In</h2>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="contact-us" id="CONTACT">

            <div class="container wow bounceIn" data-wow-duration="1s">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="section-title">
                            <h2>Contact Us</h2>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="contact-us-form wow bounceIn">
                <!-- <input type="submit" class="btn btn-default submit-btn form_submit" value="Submit"> -->
                <div class="container">
                    <form role="form" id="myForm">
                        <div class="row">
                            <div class="col-md-4">
                                <input type="text" class="form-control" id="name" placeholder="Name">
                                <input type="email" class="form-control" id="email" placeholder="Email">
                                <input type="text" class="form-control" id="subject" placeholder="Subject" >
                
                            </div>
                            <div class="col-md-8">
                                <textarea class="form-control" id="text" rows="25" cols="2" placeholder="Message Text..."></textarea>
                                <input type="submit" class="btn btn-default submit-btn form_submit" value="Submit" onclick="reset()">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="social-icons wow bounceIn">
                            <ul>
                                <li><a href="https://www.instagram.com/_ankush21/"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="https://twitter.com/imAnkush2123"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="https://www.linkedin.com/in/ankush-ankush-081a8b18b/"><i class="fab fa-linkedin-in"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="contact-ph">
                <div class="row">
                    <div class="col-md-12">
                        <p>Contact me at +918699592774 for more information.</p>
                    </div>
                </div>
            </div>
           
        </section>

        <!-- Footer -->
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div id="copyright">Copyright &copy; 2020 <a href="#" >- Ankush Fitness</a></div>
                    </div>
                    <div class="col-md-6">
                        <div class="scroll-top">
                            <a href="#HOME" id="scroll-to-top"> <i class="fa fa-angle-up"></i></a>
                        </div>
                        
                    </div>
                </div>
            </div>
        </footer>

        <!-- Submit form  -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <script>
            $('form').on('submit', (e) => {
                e.preventDefault();
    
                const name = $('#name').val().trim();
                const email = $('#email').val().trim();
                const subject = $('#subject').val().trim();
                const text = $('#text').val().trim();
    
                const data = {
                    name,
                    email,
                    subject,
                    text
                }
    
                $.post('/email', data, function(){
                    console.log('Server received our data')
                } );
    
            })
        </script>
        <!-- bootstrap javascript -->
        <script src="js/jquery.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <!-- bx slider js -->
        <script src="js/jquery.bxslider.min.js"></script>

        <!-- Custom  -->
        <script src="js/custom.js"></script>
        <!-- add counter js library -->
        <script src="js/jquery.waypoints.min.js"></script>
        <script src="js/jquery.counterup.min.js"></script>

        <!-- add wow js library -->
        <script src="js/wow.min.js"></script>

        <!-- sent alert -->
        <script>
        function sent(){
            alert('SENT!')
        }
        </script>

        <!-- Reset after submitting -->
        <script>
            function reset(){
                setTimeout(() => {
                    document.getElementById("myForm").reset();
                },2000)
                
            }
        </script>

    </body>

</html>