/* Small Devices */
@media only screen and (max-width: 767px){
    .navbar-default{
        background-color: #ffffff !important;
        border-color: #e6e6e6;

    }
    .about-me img{
        width: 100%;
    }
    .train-with-me .col-md-3{
        text-align: center;
        padding-top: 50px;
    }
    
    
}

/* Small devies and tablets */
@media only screen and (max-width: 768px){
    .header-me{
        display: none;
    }
    .header-text, .header-btns{
        text-align: center;
    }
}

/* Medium devices and desktop*/
@media only screen and (max-width: 992px){

}

/* Large devices and wide screen*/
@media only screen and (max-width: 1200){

}